
.navbar{
    margin-bottom: 50px;
}
.note-body{
    height: 100px;
    overflow-y: auto;
}
.search-area{
    padding-bottom: 35px
}
.add-note{
    padding-bottom: 30px;
}
.panel {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #FFFFFF;
}